:root {
	--test: red;
}

/* This is a comment */
// This is another comment
body {
	background: var(--test);

	p {
		color: yellow;

		&.highlight {
			color: red;
		}
	}

	@mixin test () {
		.it-works {
			font-weight: bold;
		}
	}

	@include test();
}